# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# For MacOS
*.DS_Store

# Vscode folders
*.vscode

# Compiled outputs
test
test.exe
cli
cli.exe
bully
bully_cli
bully_cli.exe
